---
layout: default
---
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "datePublished": {{ page.date | jsonify }},
  "headline": {{ page.title | jsonify }},
  "keywords": {{ page.tags | join: ',' | jsonify }},
  "dateModified": {{ page.last_modified_at | default: page.date | jsonify }},
  "author": {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Jingwen Zheng"
  },
  "publisher": {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Jingwen's Blog",
    "logo": {
      "@context": "https://schema.org",
      "@type": "ImageObject",
      "url": "https://avatars1.githubusercontent.com/u/13399618?v=3&s=460"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "description": {{ page.excerpt | strip_newlines | strip | jsonify }},
  "articleBody": {{ page.content | strip_html | jsonify }}
}
</script>

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date">
    {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="tag">
    <span style="color:#666666;">Tags: </span>
    <span>
        {% for tag in page.tags %}
          <a href="/tags/{{ tag }}">
            <span class="tag code">{{ tag }}</span>
          </a>
        {% endfor %}
      </span>
  </div>

  <div class="entry">
    {{ content }}
  </div>

{% if page.comments %}
<br>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = "{{site.url}}{{page.url}}";
this.page.identifier = "{{page.id}}";
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://jingwen-z.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}
</article>
